// Переменные для приложения и всех модулей

$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
$formBorder: none;
$formBorderRadius: 0;
$inputBorderRadius: 0;
$gray: #757575;
$accent: #CC3636;
$bg-gray: #F8F8F8;
$dark-blue: #0B0D39;
$blue: #8cb8fa;
$purple: #D996FB;
$gradient: linear-gradient(to left, $purple 0%,$blue 100%);
$hover-gradient: linear-gradient(to left, #c31afb 0%,#3894f5 100%);
$default: 'Futura PT';
$title: 'Philosopher';